/x64
/rres
/.vs
/SkyAttack/x64/
/SkyAttack/*.cd
/SkyAttack/Release/
/SkyAttack/Debug/
/SkyAttack/SkyAttack.vcxproj.user
*.png
/SKGameMod/x64/
/SKGameMod/Release/
/SKGameMod/Debug/
/SKGameMod/SKGameMod.vcxproj.user
/third-party
/SKExtLib/lib/
/SKExtLib/x64/
/SKExtLib/Debug/
/SKExtLib/Release/